doctype html
html 
    head 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Advance Tour Guides
        style 
            include ../../static/Hotels/style_hotel1.css
    body 
        nav#navbar.top    
            //- giving id=navbar and class=top  If you want to give multiple classes, do nav.top.first.second
            ul
                div#logo  
                    img(src="../static/images/sitelogo.png")
                    | ATG
                li #[a(href='/') Home]
                    //- If you want to use li and a together
                li #[a(href='/about') About Us]
                li #[a(href='/contact') Join Us]
                li #[a(href='/') Log Out]
                li#serv #[a(href='/services') Services]
        section#siteintro
            div #[h1 WE HAVE PLANNED FOR YOU]
            div.h3class #[h3 Please Have A Sweet Look!!!]
        section#vision 
            h3.vision HOTELS
        section#visions 
            for flightt in flightlist
                    div.vision1
                        div.box
                            div.boximg
                                img(src="../static/images/hotel3.jpg")
                            div.content
                                p= flightt.ID
                                p= flightt.Name
                                p= flightt.Location
                                p= flightt.Rooms
                                p= flightt.Booked
                                p= flightt.Amount
        div#form
            form(action="/bookhotel" method = "post" autocomplete="off")
                input(type="number" name="hotelid" id="inputid" placeholder="Hotel ID?" autofocus required)
                input(type="number" name="rooms" id="inputid" placeholder="Rooms?" autofocus required)
                button(class=button id="button" type="submit") CLICK TO PROCEED
        footer#footer
            | Copyright @ 2022 AdvanceTourGuides.com