doctype html
html 
    head 
        meta(name='viewport', content='width=device-width, initial-scale=1')
        title Advance Tour Guides
        style 
            include ../../static/style.css
            include ../../static/Flights/style_showmybookings.css
    body 
        nav#navbar.top    
            //- giving id=navbar and class=top  If you want to give multiple classes, do nav.top.first.second
            ul
                div#logo  
                    img(src="../static/images/sitelogo.png")
                    | ATG
                li #[a(href='/') Home]
                    //- If you want to use li and a together
                li #[a(href='/about') About Us]
                li #[a(href='/contact') Join Us]
                li #[a(href='/logout') Log Out]
                li#serv #[a(href='/services') Services]
        h1= message 
        div#mybookings
            for flightt in flightlist
                div#tablediv
                    table#table1
                        tr
                            th User ID 
                            th User Email 
                            th Flight ID 
                            th Airline 
                            th Departure 
                            th Destination 
                            th Children Seats 
                            th Adult Seats 
                            th Total Seats 
                            th Total Cost 
                            th Flight Date 
                            th Flight Time 
                        tr 
                            td= flightt.UserID
                            td= flightt.UserEmail
                            td= flightt.FlightID
                            td= flightt.Airline
                            td= flightt.Departure
                            td= flightt.Destination
                            td= flightt.ChildrenSeats
                            td= flightt.AdultSeats
                            td= flightt.SeatsBooked
                            td= flightt.Amount
                            td= flightt.Date
                            td= flightt.Time
        div#form1
            h1 CANCEL FLIGHT
            form(action="/cancelflight" method="post" autocomplete="off")
                input(type="number" name="id" id="inputid" placeholder="Flight ID" autofocus required)
                input(type="number" name="bookingch" id="inputbookingch" placeholder="Children Seats?" autofocus required)
                input(type="number" name="bookingad" id="inputbookingad" placeholder="Adult Seats?" autofocus required)
                br
                button(class=button id="button" type="submit") CANCEL NOW